<applicant-info inline-template user="@ViewBag.User">
    <div>
        <div>
            {{User.Name}}
        </div>
        <div>
            <div >
                <a class="btn btn-success" v-on:click="viewcv"> View Full Profile </a>
            </div>
        </div>
    </div>
</applicant-info>

