@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject UserContext _context
@using System.Linq;

Photo added
<div>

    @{
        ApplicationUser user = await UserManager.GetUserAsync(User);
        var picture = _context.profilePictures.Where(c => c.UserProfile.Id == user.Id).FirstOrDefault();

    }

  @*  @foreach (var picture in pictures)
        {
            <img src="/@picture.ProfilePicturePath" height="320" width="720"/>
        }*@
    @{ 
        if (picture != null)
            {
                <img src="/@picture.ProfilePicturePath" height="320" width="720" />
            }
    }

    

</div>