<div class="row d-flex justify-content-center">
    <div class="col-lg-6" style="background-image: url(/Images/oops.png); height: 300px; width: 500px; background-size: contain; background-repeat:no-repeat">

    </div>
    <div class="col-lg-6" style="font-family:monospace">
        <h3 style="margin-top:80px; font-size:30px; margin-left:-100px">
            No CV found. If this is your username please select a CV template.
        </h3>
    </div>
</div>
