@{
}

<div>
    <p>Enter email and password</p>
    <form action="Home" method="post">
        <p id='email'>
            <label>Email</label>
            <input type='email' name="email" required/>
        </p>
        <p id='password'>
            <label>Password</label>
            <input type='password' name="password" required />
        </p>
        <input type='submit' value="Log in"/>
    </form>
</div>
