
<apply-form inline-template postid="@ViewBag.PostId">
    <div class="row d-flex justify-content-center" style="height:50vh;background-image: linear-gradient(rgb(165, 158, 241), rgb(60, 181, 229));">
        <div class="col-lg-8" style="font-size:22px;margin-top:auto;font-family:'Comic Sans MS';">
            Are you sure you want to apply to this job?
            <br />
            By clicking the Submit button a notificaiton will be send to the company.
            They can see your CV.
            Be sure to prepare your CV before appling to this job.
            <br />
            <br />
            <br />
        </div>
        <div class="col-lg-8">
            <button class="btn btn-success" style="float:right;font-family:'Comic Sans MS';" type="button" v-on:click="SubmitForm">Submit</button>
        </div>

    </div>
</apply-form>
