<home-page inline-template role="@ViewBag.rolename">
    <div class="row d-flex justify-content-center">
        <h1 class="display-4">Welcome to the Job Portal</h1>
        <div class="container d-flex justify-content-center" v-if="isuser">
            Hello User
        </div>
        <div class="container" v-if="isemployer">
            <post-job inline-template user="@ViewBag.user">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <div style="float: left; font-size: 20px;">
                                    Hello {{User.Name}}
                                </div>

                                <button class="btn btn-success" style="float: right; width: 150px;" data-toggle="collapse" href="#collapseExample" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                    Post A Job
                                </button>
                            </div>
                            <form role="form" asp-action="PostJob" asp-controller="Home" method="post">
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">

                                        <div class="form-group">
                                            <input type="text" name="JobTitle" v-model="JobTitle" id="job_title" class="form-control input-sm" placeholder="Job Title" required>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" name="JobLocation" v-model="JobLocation" id="job_location" class="form-control input-sm" placeholder="Job Location" required>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" name="JobType" v-model="JobType" id="job_type" class="form-control input-sm" placeholder="Job Type">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label style="float: left;">Salary Range From</label>
                                                    <input type="number" min="0" name="SalaryRangeStart" v-model="SalaryRangeStart" id="salary_range_start" class="form-control input-sm" placeholder="Salary Range Start">
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label style="float: left;">Salary Range To</label>
                                                    <input type="number" min="0" name="SalaryRangeEnd" v-model="SalaryRangeEnd" id="salary_range_end" class="form-control input-sm" placeholder="Salary Range End">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label style="float: left;">No of Posts Available</label>
                                            <input type="number" min="1" name="NoOfPosts" v-model="NoOfPosts" id="no_of_posts" class="form-control input-sm" placeholder="No of Posts" required>
                                        </div>

                                        <ul class="nav nav-tabs">
                                            <li class="nav-item active">
                                                <a class="active nav-link" data-toggle="tab" href="#edit">Edit Post</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#preview">Preview Changes</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div id="edit" class="tab-pane active">
                                                <textarea class="form-control" name="JobDescription" v-model="JobDescription" id="job_description" rows="3" placeholder="Enter your job description" required></textarea>
                                            </div>
                                            <div id="preview" class="tab-pane" v-html="JobDescription">
                                            </div>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <button type="submit" id="x" :disabled="isDisabled" class="btn btn-info btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                                                Post
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </post-job>
            <br />
        </div>

        <jobpost-card inline-template jobpost="@ViewBag.posts" sort="@ViewBag.sort">
            <div class="container d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{Sort}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-sort="newest">Newest</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-sort="no_of_post">Available Posts</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-sort="by_salary">By Salary (Low-High)</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-sort="by_salary_des">By Salary (High-Low)</a>
                        </div>
                    </div>
                    <div v-for="job in JobPost" :key="job.Id" class="card shadow-lg mt-5">
                        <div class="card-header">
                            <h2>{{job.JobTitle}}</h2>
                            <p class="text-secondary">{{new Date(job.TimeofPost).toUTCString()}}</p>
                        </div>

                        <div class="card-body">
                            @*<h4>{{job.CompanyInfo.CompanyName}} <span v-if="job.JobType"> | {{job.JobType}}</span> </h4>*@
                            <p class="card-text text-secondary">
                                {{job.CompanyInfo.CompanyName}} | {{job.CompanyInfo.CompanyLocation}}
                                <span v-if="job.JobType"> | {{job.JobType}}</span> <br />
                                <span v-if="job.SalaryRangeEnd"> Salary Range: ${{job.SalaryRangeStart}} to ${{job.SalaryRangeEnd}}</span>
                            </p>

                            <div v-if="job.JobDescription.length>500" v-html="job.JobDescription.slice(0,500)+'...'"></div>
                            <div v-else v-html="job.JobDescription.slice(0,500)"></div>
                        </div>
                        <div class="card-footer text-muted">
                            <a style="float:right; color:white" class="btn btn-primary" v-on:click="Redirect(job.Id)">View Details</a>
                        </div>

                    </div>
                </div>
                <br />
                <br />
            </div>
        </jobpost-card>
    </div>
</home-page>

