<access-denied inline-template error="@ViewBag.Error">
    <div>
        <h1>404 Something went wrong</h1>
        <p class="card-text text-secondary text-danger lead float-left">
            {{Error}}
        </p>
    </div>
</access-denied>