<access-denied inline-template error="@ViewBag.Error">
    <div style="background-image: url('/Images/error.jpg');height:100vh;text-align:center;background-repeat:no-repeat;background-size:cover;margin-top:-15px;margin-bottom:-15px;">
        <h1 style="padding-top:15px;font-weight:600;font-family:'Franklin Gothic';color:red">Error 404</h1>
        <p class="card-text text-secondary text-info lead" style="margin-top:30px; font-weight:600">
            {{Error}}
        </p>
    </div>
</access-denied>