@model LoginModel

@{
    ViewBag.Title = "User Login";
}

<div>
    <p>Enter email and password</p>
    <form action="Login" method="post">
        <p id='email'>
            <label>Email</label>
            <input type='email' name="Email" required />
        </p>
        <p id='password'>
            <label>Password</label>
            <input type='password' name="Password" required />
        </p>
        <input type='submit' value="Log in" />
    </form>
</div>