@{
    ViewBag.Title = "User Login";
}


<signin-user inline-template error="@ViewBag.Error">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 mt-lg-5" style="font-family:monospace">
                <h3 style="margin-top:110px; font-size:40px">Sign In</h3>
                <h4>View available jobs, search for your dream job and much more</h4>
            </div>
            <div class="col-lg-6">
                <p class="card-text text-secondary text-danger lead float-left" style="font-weight:600">
                    @Html.ValidationMessage("Error")
                </p>
                <p class="card-text lead float-left" style="color: #a37b31; font-weight:600">
                    {{Error}}
                </p>

                <div class="card text-center shadow-lg mt-lg-5">
                    <div class="card-header">
                        Job Portal
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Welcome to Job Portal</h5>
                        <p class="card-text text-secondary">Sign in and explore the world of opportunities.</p>

                        <form role="form" action="Login" method="post">
                            <div class="form-group">
                                <input type="email" name="Email" v-model="Email" id="email" class="form-control input-sm" placeholder="Email Address" required>
                            </div>

                            <div class="form-group">
                                <input type="password" name="Password" v-model="Password" id="password" class="form-control input-sm" placeholder="Password" required>
                            </div>

                            <input type="submit" value="Sign In" class="btn btn-info btn-block">
                        </form>
                    </div>
                    <div class="card-footer text-muted">
                        Don't have an account? <a asp-controller="Account" asp-action="Register">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</signin-user>
