@model RegisterModel

@{
    ViewBag.Title = "User Registration";
}
@*
<div class="text-center">
    <p>Please sign up for Job Portal</p>
    <form action="Register" method="post">
        
        <p id="firstname">
            <label>First Name</label>
            <input type="text" name="FirstName" required />
        </p>
        
        <p id="lasttname">
            <label>Last Name</label>
            <input type="text" name="LastName" required />
        </p>

        <p id='email'>
            <label>Email</label>
            <input type='email' name="Email" required />
        </p>
        
        <p id='password'>
            <label>Password</label>
            <input type='password' name="Password" required />
        </p>
        
        <p id='confirm-password'>
            <label>Confirm Password</label>
            <input type='password' name="ConfirmPassword" required />
        </p>
        
        <input type='submit' value="Register" />
    </form>
</div>*@


@*<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="w-50">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign up for Job Portal</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="Register" method="post">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="FirstName" id="first_name" class="form-control input-sm" placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="LastName" id="last_name" class="form-control input-sm" placeholder="Last Name" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="Email" id="email" class="form-control input-sm" placeholder="Email Address" required>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="Password" id="password" class="form-control input-sm" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="ConfirmPassword" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" required>
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Register" class="btn btn-info btn-block">

                        <div class="d-flex justify-content-center">
                            <p>Already have an account? <a asp-controller="Account" asp-action="Login">Sign In</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>*@

@*<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>*@





<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <div class="card text-center">
                <div class="card-header">
                    Job Portal
                </div>
                <div class="card-body">
                    <h5 class="card-title">Create an account</h5>
                    <p class="card-text text-secondary">Create an account to get recommended jobs that 
                    matches your resume and apply to multiple jobs in seconds!</p>

                    <form role="form" action="Register" method="post">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="FirstName" id="first_name" class="form-control input-sm" placeholder="First Name" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="LastName" id="last_name" class="form-control input-sm" placeholder="Last Name" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="Email" id="email" class="form-control input-sm" placeholder="Email Address" required>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="Password" id="password" class="form-control input-sm" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="ConfirmPassword" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" required>
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Register" class="btn btn-info btn-block">
                    </form>
                </div>
                <div class="card-footer text-muted">
                    Already have an account? <a asp-controller="Account" asp-action="Login">Sign In</a>
                    <br/>
                    Are you an employer? <a asp-controller="Account" asp-action="RegisterEmployer">Sign Up(Employer)</a>
                </div>
            </div>
        </div>
    </div>
</div>