@{
    ViewBag.Title = "User Registration";
}

<register-user inline-template>
    <form role="form" action="Register" method="post">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <p class="card-text text-secondary text-danger lead float-left">
                        @Html.ValidationMessage("Error")
                    </p>
                    <div class="card text-center shadow-lg mt-lg-5" id="toggle" v-show='toggle'>
                        <div class="card-header">
                            Job Portal
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Create an account</h5>
                            <p class="card-text text-secondary">
                                Create an account to get recommended jobs that
                                matches your resume and apply to multiple jobs in seconds!
                            </p>

                            @*<form role="form" action="Register" method="post">*@
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="FirstName" v-model="FirstName" id="first_name" class="form-control input-sm" placeholder="First Name" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="LastName" v-model="LastName" id="last_name" class="form-control input-sm" placeholder="Last Name" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" name="UserName" onkeypress="return event.charCode!=32" v-model="UserName" id="username" class="form-control input-sm" placeholder="User Name" required>
                            </div>
                            <p class="card-text text-secondary text-danger float-left">
                                {{Error}}
                            </p>

                            <div class="form-group">
                                <input type="email" name="Email" v-model="Email" id="email" class="form-control input-sm" placeholder="Email Address" required>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="Password" v-model="Password" id="password" class="form-control input-sm" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="ConfirmPassword" v-model="ConfirmPassword" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" required>
                                    </div>
                                </div>
                            </div>

                            <button type="button" id="x" v-on:click="isClicked" :disabled="isDisabled" class="btn btn-info btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                                Register
                            </button>

                        </div>
                        <div class="card-footer text-muted">
                            Already have an account? <a asp-controller="Account" asp-action="Login">Sign In</a>
                            <br />
                            Are you an employer? <a asp-controller="Account" asp-action="RegisterEmployer">Sign Up(Employer)</a>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Enter Verification Code</h5>
                                    <button type="button" class="close" v-on:click="toggle=!toggle" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label> Please check your email for getting the verification code.</label>
                                    <input type="text" v-model="VerificationCode" name="VerificationCode" placeholder="Verification Code" />
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" value="Verify" class="btn btn-info btn-block">
                                    <a v-on:click="sendMail" class="btn btn-info btn-block">Resend Email</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</register-user>