@{
    ViewBag.Title = "Company Registration";
}

<register-company inline-template>
    <form role="form" action="RegisterCompany" method="post">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="card text-center" id="toggle" v-show='toggle'>
                        <div class="card-header">
                            Job Portal
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Register your company to get started</h5>
                            <p class="card-text text-secondary">
                                Find, hire and manage employees with Job Portal's
                                employer software & tools in recruiting solutions.
                            </p>


                            <div class="form-group">
                                <input type="text" name="CompanyName" v-model="CompanyName" id="companyname" class="form-control input-sm" placeholder="Company Name" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="CompanyLocation" v-model="CompanyLocation" id="companylocation" class="form-control input-sm" placeholder="Company Location" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="CompanyAddress" v-model="CompanyAddress" id="companyaddress" class="form-control input-sm" placeholder="Company Address" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="CompanyType" v-model="CompanyType" id="companytype" class="form-control input-sm" placeholder="Company Type" required>
                            </div>

                            <div class="form-group">
                                <input type="email" name="CompanyEmail" v-model="CompanyEmail" id="companyemail" class="form-control input-sm" placeholder="Company Email" required>
                            </div>

                            <button type="button" id="x" v-on:click="isClicked" :disabled="isDisabled" class="btn btn-info btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                                Register
                            </button>

                            @*<input type="submit" value="Register" class="btn btn-info btn-block">*@

                        </div>
                        <div class="card-footer text-muted">
                            Already have your company registered? <a asp-controller="Account" asp-action="RegisterEmployer">Sign Up(Employer)</a>
                        </div>

                    </div>

                    <!-- Modal -->
                    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Enter Verification Code</h5>
                                    <button type="button" class="close" v-on:click="toggle = !toggle" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label> Please check your email for getting the verification code.</label>
                                    <input v-model="VerificationCode" type="text" name="VerificationCode" placeholder="Verification Code" />
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" value="Register" class="btn btn-info btn-block">
                                    <a v-on:click="sendMail" class="btn btn-info btn-block">Resend Email</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</register-company>


